<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.CouponPointMapper">

	<resultMap id="userResultMap"
		type="com.itwillbs.domain.UserDTO">
		<id property="userId" column="user_id" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="phoneNumber" column="phone_number" />
		<result property="name" column="name" />
		<result property="userRole" column="user_role" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	<resultMap id="memberResultMap"
		type="com.itwillbs.domain.MemberDTO">
		<id property="memberId" column="member_id" />
		<result property="address" column="address" />
		<result property="birthdate" column="birthdate" />
		<result property="gender" column="gender" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="userId" column="user_id" />
	</resultMap>
	<resultMap id="couponResultMap"
		type="com.itwillbs.domain.CouponDTO">
		<id property="couponId" column="coupon_id" />
		<result property="code" column="code" />
		<result property="couponAmount" column="coupon_amount" />
		<result property="status" column="status" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	<resultMap id="pointResultMap"
		type="com.itwillbs.domain.PointDTO">
		<id property="actorId" column="actor_id" />
		<result property="type" column="type" />
		<result property="balance" column="balance" />
		<result property="timestamp" column="timestamp" />
		<result property="userId" column="user_id" />
	</resultMap>


</mapper>
  