<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwillbs.mapper.MusicalMapper">
    <select id="getMusical" resultType="com.itwillbs.domain.MusicalMainDTO">
     	select m.musical_id , m.title, floor(m.discount_rate * 100),
			g.genre_name,
			a.file_name, a.uuid, a.upload_path,
	        v.venue_id,
	        r.region_name,
	        min(t.price)
		from Musical m join Genre g
			on m.genre_id = g.genre_id
	        join AttachFile a
	        on m.musical_id = a.musical_id
	        join Venue v
	        on m.venue_id = v.venue_id  
	        join Region r
	        on v.region_id = r.region_id
	        join Performance p
	        on m.musical_id = p.musical_id
	        join TicketPrice t
	        on t.performance_id = p.performance_id
		where a.is_poster = 1
		group by m.musical_id , m.title, m.discount_rate,
			g.genre_name,
			a.file_name, a.uuid, a.upload_path,
	        v.venue_id,
	        r.region_name
    </select>
    
    
</mapper>