<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.PartnerAdminMapper">

 
   <resultMap id="userResultMap" type="com.itwillbs.domain.UserDTO">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="name" column="name"/>
        <result property="userRole" column="user_role"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <resultMap id="partnerQnaResultMap" type="com.itwillbs.domain.PartnerQnaDTO">
        <id property="inquiryId" column="inquiry_id"/>
        <result property="inquiryType" column="inquiry_type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="answered" column="answered"/>
        <result property="answerContent" column="answer_content"/>
        
        <association property="userDTO" javaType="com.itwillbs.domain.UserDTO">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
            <result property="email" column="email"/>
            <result property="phoneNumber" column="phone_number"/>
            <result property="name" column="name"/>
            <result property="password" column="password"/>
            <result property="userRole" column="user_role"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedAt" column="updated_at"/>
        </association>
        
        <association property="partnerDTO" javaType="com.itwillbs.domain.PartnerDTO">
            <id property="partnerId" column="partner_id"/>
            <result property="companyName" column="company_name"/>
            <result property="businessId" column="business_id"/>
            <result property="accountNumber" column="account_number"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedAt" column="updated_at"/>
            <result property="partnerStatus" column="partner_status"/>
            <result property="bankName" column="bank_name"/>
            <result property="accountOwner" column="account_owner"/>
            <result property="approved" column="approved"/>
        </association>
    </resultMap>
    

	<select id="getPartnersy"  resultMap="userResultMap" >
 		SELECT U.*, P.*
        FROM Partner P
        JOIN User U ON P.user_id = U.user_id
        WHERE (U.user_name = #{id} or U.name =#{name}) and P.approved=1
    </select>	


<!-- 파트너 문의  -->
	<select id="selectPartnerQnaList"   resultMap="partnerQnaResultMap"  >
	
	SELECT I.*, U.*, P.*
	FROM Inquiry I 
	JOIN User U ON I.user_id = U.user_id 
	JOIN Partner P ON U.user_id = P.user_id
	order by I.created_at ASC
	    </select> 
	    
	    <!-- 파트너 문의답변페이지로 불러오기  -->
	<select id="PartnerQnaAnser"   resultMap="partnerQnaResultMap"  >
	
	SELECT title,content
	FROM Inquiry 
	where inquiry_id =#{inquiryId}
	    </select> 
	    
	    <update id="qnaAnswerOK" >
    UPDATE Inquiry
    SET answered = #{answered}
    WHERE inquiry_id = #{inquiryId}
</update>
	    
    

</mapper>