<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.PartnerAdminMapper">


    

	<select id="getPartnersy"  resultType="com.itwillbs.domain.PartnerDTO2" >
 		SELECT U.*, P.*
        FROM Partner P
        JOIN User U ON P.user_id = U.user_id
        WHERE P.approved=1 and U.user_name =#{user_name} or U.name=#{name}
    </select>	


<!-- 파트너 문의 리스트불러오기 -->
	<select id="selectPartnerQnaList"   resultType="com.itwillbs.domain.PartnerQnaDTO"  >
	
<!-- 	SELECT I.*, U.*, P.* -->
	SELECT I.answered,I.inquiry_id,I.inquiry_type,I.title,I.content,I.created_at,U.name,U.user_name,P.company_name
	FROM Inquiry I 
	JOIN User U ON I.user_id = U.user_id 
	JOIN Partner P ON U.user_id = P.user_id
	order by I.created_at ASC
	    </select> 
	    
	    
	    
	    
	    
	    <!-- 파트너 문의답변페이지로 불러오기  -->
	<select id="PartnerQnaAnser"  resultType="com.itwillbs.domain.PartnerQnaDTO" >
	
	SELECT *
	FROM Inquiry 
	where inquiry_id =#{inquiryId}
	    </select> 
	    
	    <update id="qnaAnswerOK" >
    UPDATE Inquiry
    SET answered = 1
    ,answer_content =#{answerContent}
    WHERE inquiry_id = #{inquiryId}
</update>
	    
	    <update id="qnaAnswerContentOK" >
      UPDATE Inquiry set
    answer_content =#{answerContent}
    WHERE inquiry_id = #{inquiryId}
</update>


<!-- 파트너 승인대기 및 승인 완료 리스트  -->
<select id="partnersumbitList"   resultType="com.itwillbs.domain.PartnerDTO2" >
	
	SELECT U.*, P.*
	FROM Partner P 
	JOIN User U ON P.user_id = U.user_id
	
		
<!-- 	SELECT U.*, P.* -->
<!-- 	FROM User U -->
<!-- 	JOIN Partner P ON U.user_id = P.user_id -->
<!-- 	WHERE U.user_role ='partner' -->
	    </select> 
	    
	    
<!-- 	    파트너 승인대기 상세정보 -->
	    <select id="partnersumbitConfirm"   resultType="com.itwillbs.domain.PartnerDTO2" >
	
	SELECT U.*, P.*
	FROM Partner P 
	JOIN User U ON P.user_id = U.user_id
	WHERE P.partner_id=#{partner_id}
	
	    </select> 
	    
<!-- 	    승인누르면 완료 -->
	   <update id="partnerConfirm">
	   UPDATE Partner
	   SET approved=1
	   WHERE partner_id=#{partner_id}
	      
	   </update>
	   
	    
<delete id="partner_delete" >
	delete from Partner
	Where partner_id = #{partner_id} and approved=1;
</delete>
<!-- 파트너삭제 -->





<update id="editUserFOReditPartner">
 UPDATE User 
    SET user_name = #{user_name}, 
        password = #{password}, 
        name = #{name}, 
        phone_number = #{phone_number}, 
        email = #{email}
    WHERE user_id = #{user_id} 
    </update>

<update id="editPartner">
    UPDATE Partner 
    SET company_name = #{company_name}, 
        business_id = #{business_id}
    WHERE partner_id = #{partner_id} 
    AND approved = 1
</update>
<!-- 파트너정보업데이트 -->

<select id="memberQnaList" resultType="com.itwillbs.domain.UserDTOAdmin" >

SELECT I.answered,I.inquiry_id,I.inquiry_type,I.title,I.content,I.created_at,U.name,U.user_name
	FROM Inquiry I 
	JOIN User U ON I.user_id = U.user_id 
	JOIN Member M ON U.user_id = M.user_id
	order by I.created_at ASC

</select>
<!-- 회원문의 -->


    <!-- 회원 문의답변페이지로 불러오기  -->
	<select id="memberQnaAnser"  resultType="com.itwillbs.domain.UserDTOAdmin" >
	
	SELECT *
	FROM Inquiry 
	where inquiry_id =#{inquiryId}
	    </select> 


<select id="partner_settlement"  resultType="com.itwillbs.domain.PartnerDTO2"   >
SELECT TP.*, U.*, P.*, PF.*, S.*
FROM `Partner` AS P
JOIN `User` AS U ON P.user_id = U.user_id
JOIN `Performance` AS PF ON P.partner_id = PF.partner_id
JOIN `TicketPrice` AS TP ON PF.performance_id = TP.performance_id  
JOIN `Settlement` AS S ON P.partner_id = S.partner_id
WHERE U.user_id = #{user_id}



</select>
<!-- 파트너정산 -->








    

</mapper>