<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mapper.SupportMapper">
  
<insert id="insertNotice">
		insert into Notice(notice_id,title,content,created_at)
		values(#{notice_id},#{title},#{content},#{created_at})
	</insert>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(notice_id) from Notice
	</select>
	
	<select id="getNoticeList" resultType="com.itwillbs.domain.SupportNoticeDTO">
		select * from Notice 

	</select>
	
	<select id="getNoticeCount" resultType="java.lang.Integer">
		select count(*) from Notice
	</select>
	
	<insert id="insertQna">
		insert into FAQ(faq_id,question,answer,created_at)
		values(#{faq_id},#{question},#{answer},#{created_at})
	</insert>
	
	<select id="getMaxNum1" resultType="java.lang.Integer">
		select max(faq_id) from FAQ
	</select>
	
	<select id="getQnaList" resultType="com.itwillbs.domain.SupportqnaDTO">
		select * from FAQ 

	</select>
	
	<insert id="insertInquiry">
		insert into Inquiry(inquiry_id,inquiry_type,title,content,state,created_at,user_id)
		values(#{inquiry_id},#{inquiry_type},#{title},#{content},#{state},#{created_at},#{userId})
	</insert>
	
	<select id="getMaxNum2" resultType="java.lang.Integer">
		select max(inquiry_id) from Inquiry
	</select>
	
	<select id="getInList" resultType="com.itwillbs.domain.SupportinquiryDTO">
		select * from Inquiry

	</select>
	   
</mapper>